$font-stack: 'Montserrat';

$magenta-color: #FE2F67;
$orange-color: #FF9A58;
$purple-color: #7431D7;
$white-color: #FFFFFF;

$breakpoint-phones: 640px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1200px;