// CORE
@import 'core/variables';

// PAGES
@import 'pages/login';

* {
  font-family: $font-stack;
}

body {
  margin: 0;
}

a {
  color: #FFFFFF;
  text-decoration: underline;

  &:hover {
    color: #FFFFFF;
  }
}