// CORE
@import 'core/variables';

// COMPONENTS
// ATOMS
@import 'components/atoms/input';
@import 'components/atoms/button';
@import 'components/atoms/text';

// Molecules
@import 'components/molecules/hidden.input';

// ORGANISMS
@import 'components/organisms/login.form';
@import 'components/organisms/spacer';

// TEMPLATES
@import 'templates/login.template';

// PAGES
@import 'pages/login';

* {
  font-family: $font-stack;
}

body {
  margin: 0;
  background-color: slategray;
}

a {
  color: #FFFFFF;
  text-decoration: underline;

  &:hover {
    color: #FFFFFF;
  }
}